<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sass/style.css" />
    <title>Species View</title>
  </head>
  <body>
      <div class="card--dataset-stats box box-padding box-margin-bottom flex flex-wrap">
        <div class="flex-s-whole flex-2-fiths card__column-left">
        <img src="/images/red-list.svg" alt="redlist logo" class="card__logo">
        <h2 class="heading--simple">
          <a href="http://www.iucnredlist.org/" title="Visit RedList" target="_blank">IUCN RedList</a>
        </h2>
        <p class="card__buffer light">??km</p>
        <p>This shows the number of species assessed on the IUCN Red List of Threatened Species that potentially occur within ??km of this site. </p>

        <div class="card__total-wrapper flex flex-column flex-center margin-center">
          <span :class="card__total text-redlist"><%= @species.count %></span>
          <span class="card__type">Dataset type</span>
        </div>

        <p class="card__smallprint">
          <span class="card__smallprint-line">line</span>
        </p>
      </div>

      <div class="flex-s-whole flex-3-fiths flex flex-v-center">
        <ul class="ul-unstyled card__list">
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @cr.count %></span>
                <i class="card__list-icon icon--redlist-medium">CR</i>
                <span class="card__list-title light">Critically Endangered</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @en.count %></span>
                <i class="card__list-icon icon--redlist-medium">EN</i>
                <span class="card__list-title light">Endangered</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @vu.count %></span>
                <i class="card__list-icon icon--redlist-medium">VU</i>
                <span class="card__list-title light">Vulnerable</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
        </ul>
        </div>
      </div>
      <div class="report__page-break"></div>
      <section class="report__content">
        <h3>Priority Species</h3>

        <p>Habitat of significant importance to priority species will trigger critical habitat status (See PS6: para 16). IBAT provides a preliminary list of priority species that could occur within the 50km buffer. This list is drawn from the IUCN Red List of Threatened Species (IUCN RL). This list should be used to guide any further assessment, with the aim of confirming knownor likely occurrence of these species within the project area. It is also possible that further assessment may confirm occurrence of additional priority species not listed here. It is strongly encouraged that any new species information collected by the project be shared with species experts and/or IUCN wherever possible in order to improve IUCN datasets.</p>

        <h3>IUCN Red List of Threatened Species - CR & EN</h3>
        <% if @redlist_threatened&.any? %>
        <p>The following species are potentially found within 50km of the area of interest.<br>For the full IUCN Red List please refer to the associated csv in the report folder.</p>

          <table class="report__table">
            <thead class="bg-red">
              <tr>
                <th>Species name</th>
                <th>Common name</th>
                <th>IUCN Category</th>
                <th>Link to IUCN Red List</th>
              </tr>
            </thead>

            <tbody>
              <% @redlist_threatened.each do |row| %>
                <tr>
                  <td><%= row["scientific_name"] %></td>
                  <td><%= row["common_name"] %></td>
                  <td><%= row["redlist_status"] %></td>
                  <td><a href=<%= row["iucn_redlist_url"] %>>Link</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>There are no CR or EN species to show for this report.</p>
        <% end %>
      </section>
  </body>
</html>
