<!DOCTYPE html>
<html>
  <%= erb :'partials/_header' %>
  <body class='w-80 margin-center'>
    <img src='images/proteus_logo.svg' alt='Proteus Partners' class='proteus-logo'>
    <div class="card--dataset-stats box box-padding box-margin-top box-margin-bottom flex flex-wrap">
      <div class="flex-s-whole flex-2-fiths card__column-left">
        <img src="https://ibat-assets-production.s3.eu-west-2.amazonaws.com/red-list.svg" alt="redlist logo" class="card__logo">
        <h2 class="heading--simple">
          <a href="http://www.iucnredlist.org/" title="Visit RedList" target="_blank">IUCN RedList</a>
        </h2>
        <p class="card__buffer light"><%= @area %>km</p>
        <p>This shows the number of threatened species assessed on the IUCN Red List of Threatened Species that potentially occur within <%= @area %>km of this site. </p>

        <div class="card__total-wrapper flex flex-column flex-center margin-center">
          <span class='realms-reference'>*</span>
          <span class="card__total text-redlist"><%= @total_count %></span>
          <span class="card__type">Species</span>
          <div class="card__subtotal-wrapper flex flex-column flex-center margin-center">
            <ul class="realms flex">
              <% @realms_counts.each do |realm, count| %>
                  <li class="flex-column flex-center margin-center">
                    <span class="card__subtotal realm-<%= realm.downcase %>"><%= count %></span>
                    <span class="card__subtype"><%= realm.capitalize.gsub('_',' ') %></span>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-s-whole flex-3-fiths flex flex-v-center">
        <ul class="ul-unstyled card__list">
          <% Species::IUCN_CATEGORIES.each do |cat, name| %>
            <%= erb :'partials/_card-list', locals: {total: @species[cat]&.count, id: cat, name: name} %>
          <% end %>
        </ul>
      </div>

      <div class="flex-s-whole flex-2-fiths flex">
        <p class='margin-space-top'>
          *for details on species' habitat preferences, see IUCN Red List links below.
        </p>
      </div>

      <div class='button-wrapper flex-s-whole flex-3-fiths flex'>
        <a href="/<%= @id %>/download"><button class='button--cta'>Download</button></a>
      </div>
    </div>

    <div class="report__page-break"></div>
    <% Species::IUCN_CATEGORIES.keys.each do |cat| %>
      <%= erb :'partials/_report', locals: {id: cat, grouped_species: @species[cat], area: @area} %>
    <% end %>
  </body>
</html>
