<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sass/style.css" />
    <title>Species View</title>
  </head>
  <body>
      <div class="card--dataset-stats box box-padding box-margin-bottom flex flex-wrap">
        <div class="flex-s-whole flex-2-fiths card__column-left">
        <img src="/images/red-list.svg" alt="redlist logo" class="card__logo">
        <h2 class="heading--simple">
          <a href="http://www.iucnredlist.org/" title="Visit RedList" target="_blank">IUCN RedList</a>
        </h2>
        <p class="card__buffer light">??km</p>
        <p>This shows the number of species assessed on the IUCN Red List of Threatened Species that potentially occur within ??km of this site. </p>

        <div class="card__total-wrapper flex flex-column flex-center margin-center">
          <span class="card__total text-redlist"><%= @species.count %></span>
          <span class="card__type">Species</span>
        </div>

        <p class="card__smallprint">
          <span class="card__smallprint-line">line</span>
        </p>
      </div>

      <div class="flex-s-whole flex-3-fiths flex flex-v-center">
        <ul class="ul-unstyled card__list">
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @cr.count %></span>
                <i class="card__list-icon icon--redlist-medium">CR</i>
                <span class="card__list-title light">Critically Endangered</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @en.count %></span>
                <i class="card__list-icon icon--redlist-medium">EN</i>
                <span class="card__list-title light">Endangered</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
            <li class="card__list-li">
              <p class="card__list-p no-margin flex flex-v-center">
                <span class="card__list-total bold"><%= @vu.count %></span>
                <i class="card__list-icon icon--redlist-medium">VU</i>
                <span class="card__list-title light">Vulnerable</span>
                <tooltip class="margin-space-left" text="row.description">
                  <i class="icon-question-mark icon--tooltip"></i>
                </tooltip>
              </p>
            </li>
        </ul>
        </div>
      </div>
      <div class="report__page-break"></div>
      <section class="report__content">
        <h3>IUCN Red List of Threatened Species - CR</h3>
        <% if @cr&.any? %>
        <p>The following species are potentially found within ??km of the area of interest.</p>
          <table class="report__table">
            <thead class="bg-red">
              <tr>
                <th>Species name</th>
                <th>Common name</th>
                <th>IUCN Category</th>
                <th>Link to IUCN Red List</th>
              </tr>
            </thead>

            <tbody>
              <% @cr.each do |row| %>
                <tr>
                  <td><%= row["scientific_name"] %></td>
                  <td><%= row["common_name"] %></td>
                  <td><%= row["redlist_status"] %></td>
                  <td><a href=<%= row["iucn_redlist_url"] %>>Link</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>There are no CR species to show for this report.</p>
        <% end %>
      </section>
      <section class="report__content">
      <h3>IUCN Red List of Threatened Species - EN</h3>
      <% if @en&.any? %>
      <p>The following species are potentially found within ??km of the area of interest.</p>

        <table class="report__table">
          <thead class="bg-red">
            <tr>
              <th>Species name</th>
              <th>Common name</th>
              <th>IUCN Category</th>
              <th>Link to IUCN Red List</th>
            </tr>
          </thead>

          <tbody>
            <% @en.each do |row| %>
              <tr>
                <td><%= row["scientific_name"] %></td>
                <td><%= row["common_name"] %></td>
                <td><%= row["redlist_status"] %></td>
                <td><a href=<%= row["iucn_redlist_url"] %>>Link</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>There are no EN species to show for this report.</p>
      <% end %>
    </section>
    <section class="report__content">
    <h3>IUCN Red List of Threatened Species - VU</h3>
    <% if @vu&.any? %>
    <p>The following species are potentially found within ??km of the area of interest.</p>

      <table class="report__table">
        <thead class="bg-red">
          <tr>
            <th>Species name</th>
            <th>Common name</th>
            <th>IUCN Category</th>
            <th>Link to IUCN Red List</th>
          </tr>
        </thead>

        <tbody>
          <% @vu.each do |row| %>
            <tr>
              <td><%= row["scientific_name"] %></td>
              <td><%= row["common_name"] %></td>
              <td><%= row["redlist_status"] %></td>
              <td><a href=<%= row["iucn_redlist_url"] %>>Link</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no VU species to show for this report.</p>
    <% end %>
  </section>
  </body>
</html>
